<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="form--container">
      <h1>Upload files to IPFS</h1>
      <form
        class="form"
        action="/upload"
        method="POST"
        enctype="multipart/form-data"
      >
        <input class="form__input" type="text" name="fileName" />
        <label class="form__label">Filename</label>
        <br />
        <input class="form--file__input" type="file" name="file" />
        <label class="form__label">Upload a file</label>
        <br />
        <input class="form__submit" type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
